/*
* Header
*/
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.blog-header-logo:hover {
    text-decoration: none;
}


/*
* Nav bar
*/
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: scroll;
    font-style: italic;
}


/*
* Main text
*/
.first-paragraph:first-letter {
    font-size: xx-large;
}


/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
  .blog-footer p:last-child {
    margin-bottom: 0;
}


@media (max-width: 600px) {
    .row, .nav {
        display: flex;
        flex-direction: column;
    }

    .blog-header-logo {
        font-size: 1.75rem;
    }
}